.ag-hidden {
    display: none !important;
}

.ag-invisible {
    visibility: hidden !important;
}

.ag-tab-guard {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
}

.ag-tab-guard-top {
    top: 1px;
}

.ag-tab-guard-bottom {
    bottom: 1px;
}

.ag-measurement-container {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.ag-measurement-element-border {
    display: inline-block;

    /* ResizeObserver measures the content box of an element so i order to get
       it to pick up a border width, the border needs to be on a child of the
       mesasurement element */
    &::before {
        content: '';
        display: block;
        /* rtl:ignore */
        border-left: var(--ag-internal-measurement-border);
    }
}
