.ag-select {
    display: flex;
    align-items: center;

    &.ag-disabled {
        opacity: 0.5;
    }
}

:where(.ag-select) {
    .ag-picker-field-wrapper {
        padding-left: calc(var(--ag-cell-horizontal-padding) / 2);
        padding-right: var(--ag-spacing);
        cursor: default;
    }

    &.ag-disabled .ag-picker-field-wrapper:focus {
        box-shadow: none;
    }

    &:not(.ag-cell-editor, .ag-label-align-top) {
        min-height: var(--ag-list-item-height);
    }

    .ag-picker-field-display {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ag-picker-field-icon {
        display: flex;
        align-items: center;
    }
}

.ag-select-list {
    background-color: var(--ag-picker-list-background-color);
    overflow: hidden auto;
    border-radius: var(--ag-border-radius);
    border: var(--ag-picker-list-border);
    box-shadow: var(--ag-dropdown-shadow);
}

.ag-select-list-item {
    padding-left: calc(var(--ag-cell-horizontal-padding) / 2);
    user-select: none;
    cursor: default;

    :where(span) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
