:where(.ag-delay-render) {
    .ag-cell {
        visibility: hidden;
    }

    .ag-row {
        visibility: hidden;
    }

    .ag-spanned-cell-wrapper {
        visibility: hidden;
    }

    .ag-header-cell {
        visibility: hidden;
    }

    .ag-header-group-cell {
        visibility: hidden;
    }
}
