ag-grid,
ag-grid-angular {
    display: block;
}

.ag-root-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: var(--ag-wrapper-border);
    border-radius: var(--ag-wrapper-border-radius);

    &.ag-layout-normal {
        height: 100%;
    }
}

.ag-root-wrapper-body {
    display: flex;
    flex-direction: row;

    &.ag-layout-normal {
        flex: 1 1 auto;
        height: 0;
        min-height: 0;
    }
}

.ag-root {
    position: relative;
    display: flex;
    flex-direction: column;

    &.ag-layout-normal,
    &.ag-layout-auto-height {
        overflow: hidden;
        flex: 1 1 auto;
        width: 0;
    }

    &.ag-layout-normal {
        height: 100%;
    }
}
